extends layout

block content
  h1= title
  p Welcome to #{title}

  form
    input(ng-model="newTodo", placeholder="Write a todo")
    button(ng-click="addTodo()") add
  
    // for ng-init see: http://stackoverflow.com/questions/18194255/how-to-have-a-default-option-in-select-box-angular-js
    select(ng-model="stateOption", 
           ng-init="stateOption", 
           ng-options="stateOption for stateOption in stateOptions",
           ng-change="stateOptionChange(stateOption)")
    
  ul
    li(ng-repeat="todo in todos | state:stateOption track by $index")
      div(ng-hide="editing")
        p(ng-click="editing = true") 
          {{ todo.content }}
        p 
          is completed: {{ todo.completed }}
        input(type="checkbox", ng-model="todo.completed", ng-change="todoCompleted(todo)")

      form(ng-show="editing", ng-submit="editing = false")
        input(type="text", ng-model="todo.content", placeholder="todo.content")
        button(type="submit") save
      button(ng-click="removeTodo(todo)") remove

  p active items: {{ todos | total:"active" }}
  p completed items: {{ todos | total:"completed" }}
  button(ng-click="removeCompleted()") remove completed
  button(ng-click="removeAll()") remove all
